/* Reset default margin and padding */
body, h1, p, img, button {
    margin: 0;
    padding: 0;

}

/* Basic styling */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero-section {
    background-color: #f9f9f9; /* Background color */
    text-align: center;
    padding: 50px 0;
}

.hero-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 30px;
    
}

.hero-title {
    font-size: 24px;
    font-weight: 600;
    color: #333; /* Text color */
    margin-bottom: 20px;
}

.hero-description {
    font-size: 16px;
    color: #666; /* Text color */
    line-height: 1.5;
    margin-bottom: 30px;
}


.primary-button {
    background-color: #ff5757; /* Button background color */
    color: white; /* Button text color */
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s;
}

.secondary-button {
    background-color: #f0f0f0; /* Button background color */
    color: #333; /* Button text color */
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s;
}

.primary-button:hover {
    background-color: #ff4141; /* Hover background color */
}

.secondary-button:hover {
    background-color: #dcdcdc; /* Hover background color */
}
