
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer {
    background-color: white;
    color: #333;
    text-align: center;
    bottom: 0;
    padding: 1rem 0;
    position: relative;
}


.logo {
max-width: 50px;
max-height: 50px;
text-align: center;
}

.links a {
    margin: 0 10px;
    text-decoration: none;
    color: #666;
    transition: color 0.3s;
}

.links a:hover {
    color: #007bff;
}

.divider {
    border: 1px solid #ccc;
    margin: 20px 0;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}



