/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.slide {

  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF;
  padding: 30px;
}
.container {
  max-width: 1400px;
  width: 100%;
  padding: 60px 0;
  margin-left: 27%;

}
.slide-container {
  margin: 0 30px;
  overflow: hidden;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  width: 310px;
  height: 400px;
}
.card .image-box {
  height: 180px;
  width: 310px;
}
.card .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.image-box{
  max-width: 100%;
}

.card .profile-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}
.card .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.profile-details .name {
  font-size: 15px;
  font-weight: 500;
}
.profile-details .job {
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
}

.swiper-navBtn {
  color: #000;
  height: 50px;
  width: 50px;
  transform: translateY(-40%);
  background: #fff;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 24px;
}

.swiper-pagination-bullet {
  background-color: #333;
}

.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
  padding: 8px 10px;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: left;
  padding: 8px 10px;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 8px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}
